body {
    background-color: #FFF6BF;
    font-size: 1.5rem;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
}


.form-buttons {
    margin-top: 20px;
    width: 75px;
    height: 25px;
}

#Registration {
    margin: 0 220px;
}

label {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: block;

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
[type=reset] {
    width: 49%;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

input :not(#submitbtn):focus {
    background-color: rgb(224, 243, 252);
}

input[type=submit]:hover {
    background-color: #0a600f;
}

input[type=reset]:hover {
    background-color: #fa850f;
}

form span {
    color: red;
    display: none;
}


#user-dp {
    align-items: center;
    height: 200px;
    width: 180px;
}
 
#view-table {
    margin: 30px auto 0 auto;
}


#successmsg,
#updatemsg,
#delete-success {
    color: green;
}

#updatebtn {
    width: 48%;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td a {
    cursor: pointer;
}

td a:link {
    color: red;
}


td a:visited {
    color: green;
}


td a:hover {
    color: blue;
}


td a:active {
    color: blue;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;


}
.overlay:target{
visibility: visible;
opacity: 1;
}
.popup{
    margin: 70px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all 5s ease-in-out;
}
#close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    color: #333;
    text-decoration: none;

}
#close:hover{
    color: red;

}
.popup.content{
    max-height: 45%;
    overflow: auto;
}
